.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#main-content {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}
#app-list {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}
#app-icon {
  width: 35px;
  height: 35px;
  font-size: 35px;
  margin-right: 10px;
}
