
<mat-toolbar color="primary">
  <mat-icon id="app-icon">offline_pin_outlined</mat-icon>
  <span>Application Notification Manager</span>
</mat-toolbar>
<div id="main-content">
  <app-banner></app-banner>
</div>
<div id="app-list">
  <apm-list></apm-list>
</div>