<mat-card>
    <mat-card-header> 
        <mat-card-title>Campaign Name</mat-card-title>
        <mat-card-subtitle>Select the applications below to acknowledge readiness.</mat-card-subtitle>
        <mat-icon mat-card-avatar>assignment_turned_in</mat-icon>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-selection-list #appList>
            <mat-list-option checkboxPosition="before" *ngFor="let app of apps">
                {{app.appName + " - (" + app.apmId + ")"}}
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
</mat-card>
<div id="actions">
    <button mat-raised-button color="primary">Update</button>
    <button mat-raised-button>Cancel</button>
</div>
  