#actions {
    padding-top: 20px;
    text-align: center;
}
#actions button {
    margin-right: 15px;
    width: 150px;
    height: 50px;

}
mat-icon.mat-card-avatar {
    width: 45px;
    height: 45px;
    font-size: 45px;
}